local.properties
.gradle/*
FtcRobotController/build/intermediates
TeamCode/build/intermediates

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
# Logs and databases #
######################
*.log
*.sql
*.sqlite

*.bin
*.lock
*.dex
*.png
*.svg
*.cur
*.js
*.wav
*.blk
*.jar
*.gif
*.mp3
*.txt
*.json
*.ogg
*.css
*.map
*.html
*.otf
*.woff
*.ttf
*.woff2
*.xml
*.so
*.flat
*.lock
*.android_data_bindin